.cp-layout-table {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr;
  margin: 30px 0;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

.cp-layout-table>* {
  display: flex;
  align-items: center;
  padding: 12px 8px;
  font-size: 14px;
  line-height: 1.5;
  border-top: 1px solid black;
  border-right: 1px solid black;
}

.cp-layout-table> :nth-child(odd) {
  background-color: #efefef;
}