/* .cp-form__item {} */

.cp-form__hidden {
  /* 以下の設定値でinput自体を見えなくする */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

/* .cp-form__check-wrap {} */

/* .cp-form__check {} */

.cp-form__check-label {
  position: relative;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

.cp-form__check-label::before {
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 5px 5px 0;
  border: 1px solid black;
  content: "";
}

.cp-form__check:checked+.cp-form__check-label::after {
  /* 縦8px、横４pxの長方形を作成して、上と左のborderを消す。 */
  /* 下と右のみのボックスを45℃傾けてチェックスタイルを作成 */
  position: absolute;
  top: 3px;
  left: 5px;
  display: block;
  width: 4px;
  height: 8px;
  border: 2px solid black;
  border-top: 0;
  border-left: 0;
  content: "";
  transform: rotate(45deg);
}