/* common */
.cp-advanced {}


/* header style */
.cp-advanced-header {
  padding: 20px 15px;
  box-shadow: 0 0 36 rgba(0, 0, 0, 0.1);
}

.cp-advanced-header__title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.cp-advanced-header__navigation {}


/* list style */
.cp-advanced-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 10px 0 0;
  margin: 0;
  font-size: 14px;
  text-decoration: underline;
  list-style: none;
}

.cp-advanced-list>* {
  margin: 0 10px 0 0;
}

.cp-advanced-list>*:hover {
  opacity: 0.6;
}

/* main style */
.cp-advanced-main {
  padding: 20px 15px;
}

.cp-advanced-main__heading {
  padding: 0 0 5px;
  margin: 0 0 20px;
  font-size: 22px;
  border-bottom: 1px solid #000;
}

.cp-advanced-main__articles {
  display: grid;
  grid-gap: 20px;
}

.cp-advanced-article__link {
  display: block;
  color: #000;
  text-decoration: none;
}

.cp-advanced-article__link:hover {
  opacity: 0.6;
}

.cp-advanced-article {}

.cp-advanced-article__thumb {
  width: 100%;
  border-radius: 3px;
}

.cp-advanced-article__title {
  padding: 8px 0;
  margin: 0;
  font-size: 18px;
  line-height: 1.3;
}

.cp-advanced-article__meta {
  align-self: end;
  padding: 8px 0;
  font-size: 12px;
  color: #999;
}


/* side style */
.cp-advanced-side {
  padding: 20px 15px;
}

.cp-advanced-side__section+.cp-advanced-side__section {
  padding: 30px 0 0;
}

.cp-advanced-side__heading {
  padding: 0 0 5px;
  margin: 0 0 20px;
  font-size: 22px;
  border-bottom: 1px solid #000;
}

.cp-advanced-side__articles {
  display: grid;
  grid-gap: 15px;
}

.cp-advanced-side-article {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-column-gap: 15px;
}

.cp-advanced-side-article__link {
  display: block;
  color: #000;
  text-decoration: none;
}

.cp-advanced-side-article__link:hover {
  opacity: 0.6;
}

.cp-advanced-side-article__thumb {
  grid-row: 1 / 3;
  width: 80px;
  height: 80px;
  border-radius: 3px;
  object-fit: cover;
}

.cp-advanced-side-article__title {
  padding: 8px 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.3;
}

.cp-advanced-side-article__meta {
  align-self: end;
  font-size: 12px;
  color: #999;
}

.cp-advanced-tag {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  list-style: none;
}

.cp-advanced-tag>* {
  display: flex;
  justify-content: flex-start;
  padding: 5px 8px;
  margin: 5px 15px 5px 0;
  border: 1px solid #999;
  border-radius: 3px;
}

.cp-advanced-tag>*:hover {
  opacity: 0.6;
}

.cp-advanced-tag>*::before {
  display: block;
  content: "#";
}


/* footer style */
.cp-advanced-footer {
  padding: 20px 15px;
  background-color: #efefef;
}

.cp-advanced-footer__copyright {
  font-size: 14px;
  color: #999;
  text-align: center;
}